*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(188, 231, 217);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header h1 {
    color: rgb(218, 23, 23);
    margin-top: 20px;
}

.calculator {
    width: 500px;
    height: auto;
    background-color: rgb(159, 205, 238);
    border-radius: 5%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    
}
.input-field{
    height: auto;
    text-align: center;
    padding-top: 10px;
    /* background-color: red; */
}
.input-field h2 {
    margin-top: 20px;
}
.result {
    /* background-color: blue; */
}

input {
    padding: 10px;
}
.calculator input {
    width: 70%;
    height: 25px;
    border-radius: 10px;
    border: none;

}
button {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40%;
    font-size: 20px;
    border: none;
    background-color: rgb(234, 78, 78);
    padding: 5px;
    border-radius: 10px;
}

button:hover {
    background-color: orange;
}

.result-number {
    background-color: aliceblue;
    width: 80%;
    height: 200px;
    margin: 0 auto 20px;
    border-radius: 10px;
    text-align: left;
}
#your-number {
    margin: 10px 10px;
    word-wrap: break-word;
    white-space: normal;
}

#dec, #bin, #hex, #dec-out, #bin-out, #hex-out {
    width: 15px;
    height: 15px;
}
.input-number, .output-number {
    margin: 15px auto;

}